extends layout

block content
  h1= title
  p Welcome to #{title}
  table(class='table table-striped' style='width:30%')
    thead
      tr
        th ID Kartu
        th Nama
    tbody
      each row in rfid_data
        tr(onclick='goChooseMenu(' + row.id_kartu + ', "' + row.nama_kartu + '")')
          td=row.id_kartu
          td=row.nama_kartu

  script(src="/javascripts/arduino.js")