extends layout

block content
  h1= title
  table(class='table table-striped' style='width:30%')
    thead
      tr
        th Makanan
        th Harga
        th Porsi
        th Jumlah
    tbody
      tr
        td Nasi + Ayam Geprek + Tahu Tempe
        td Rp. 15.000
        td
          select(onchange='porsiChange(this, "geprek")')
            include option.pug
        td(id='geprekSubtotal') Rp. 0.00
      tr
        td Nasi Goreng
        td Rp. 12.000
        td
          select(onchange='porsiChange(this, "nasgor")')
            include option.pug
        td(id='nasgorSubtotal') Rp. 0.00
      tr
        td Mie Goreng
        td Rp. 12.000
        td
          select(onchange='porsiChange(this, "migor")')
            include option.pug
        td(id='migorSubtotal') Rp. 0.00
      tr
        td Kwetiau Goreng
        td Rp. 12.000
        td
          select(onchange='porsiChange(this, "kwegor")')
            include option.pug
        td(id='kwegorSubtotal') Rp. 0.00
  table(class='table table-striped' style='width:30%')
    thead
      tr
        th Minuman
        th Harga
        th Porsi
        th Jumlah
    tbody
      tr
        td Es Teh Manis
        td Rp. 4.000
        td
          select(onchange='porsiChange(this, "esteh")')
            include option.pug
        td(id='estehSubtotal') Rp. 0.00
      tr
        td Teh Manis Hangat
        td Rp. 3.000
        td
          select(onchange='porsiChange(this, "teh")')
            include option.pug
        td(id='tehSubtotal') Rp. 0.00
      tr
        td Es Nutrisari
        td Rp. 4.000
        td
          select(onchange='porsiChange(this, "esnutri")')
            include option.pug
        td(id='esnutriSubtotal') Rp. 0.00
      tr
        td Es Goodday
        td Rp. 5.000
        td
          select(onchange='porsiChange(this, "esgoodday")')
            include option.pug
        td(id='esgooddaySubtotal') Rp. 0.00
      tr
        td Kopi panas
        td Rp. 4.000
        td
          select(onchange='porsiChange(this, "kopi")')
            include option.pug
        td(id='kopiSubtotal') Rp. 0.00
      tr
        td Air Mineral
        td Rp. 3.500
        td
          select(onchange='porsiChange(this, "air")')
            include option.pug
        td(id='airSubtotal') Rp. 0.00
  h4(id='total') Total Biaya: Rp. 0.00
  button(class='btn btn-info' onclick='submitOrder()') Pesan

  script(src="/javascripts/menu.js")